body
{
   background: #000000;
}






.gif{
  width: 200px;
  /*height: 100px;*/
  /*border: 6px solid #000000;
  border-radius: 100px;*/
  padding-left: 20%;
  padding-top: 15%;
}


.text{
   color: #ffffff;
   font-size: 40px;
   text-align: center;
   font-family: 'Ephesis', cursive;
}


.text2{
   position: relative;
   color: #C70039;
   font-size: 15px;
   text-align: center;
   margin-top: -40px;
   font-family: 'Dosis', sans-serif;
}





















